body {
    background: url("jfond.jpg");
    background-size: cover; 
    margin: 0;
    padding: 0;
}
h1 {
	text-align: center;
	font-size: 50px;
	margin-top: 110px;
	font-family: 'GrotesqueBourgeoisieRegular';
}
p {
	margin-left: 15px;
	margin-right: 15px;
}
h2 {
	margin-left: 10px;
}

a {
	color: #ff4d88;
	text-decoration: none;
	text-align: center;
}
